.container{
    width: 100%;
}

.left-container{
    float: left;
    width: 30%;
    /* background-color: red; */
    overflow-y: scroll;
    height: 90vh;
}

.right-container{
    float: right;
    width: 70%;
    background-color: cyan;
}